body {
  text-align: center;
  margin: 0;
  padding: 10vh 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(197, 58, 12) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}

.title{
  font-size:76px;
  color: #0ccac4;
  font-family: 'Inspiration', cursive;
}

.homesearch {
  background-color: #f0d8d0;
}


